<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery-1.4.4.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/general.js")" type="text/javascript"></script>
</head>

<body>
    <div class="page">

        <div id="header">
            <div id="title">
                <h1>Aplicación de Reportes</h1>
            </div>

            <div id="menucontainer">

                <ul id="menu">
                    <li><a href="/Home/Index?mod=1" id="1">Inicio</a></li>
                    <li><a href="/Home/About?mod=2" id="2">Acerca de</a></li>
                    <li><a href="/Reportes/ReporteProveedoresListadoGeneral?mod=3" id="3">Reporte Proveedores</a></li>
                    <li><a href="/Reportes/ReporteProductosPorGrupo?mod=4" id="4">Reporte Productos Por Grupo</a></li>
                    <li><a href="/Reportes/ReporteProductosAgotadosYPorAgotarse?mod=5" id="5">Reporte Productos Agotados y Por Agotarse</a></li>                    
                </ul>

            </div>
        </div>

        <div id="main">
            @RenderBody()
            <div id="footer">
            </div>
        </div>
    </div>
</body>
</html>
